<div class="inner cover">
  <h1 class="cover-heading">Cover your image</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Donwload, edit the text, and add
  your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</div>

<div class="mastfoot">
  <div class="inner">
    <p>Cover template for <a href="#">Link</a></p>
  </div>
</div>
